section{
    border-top: 2px solid black;
}

article {
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
    max-width: 75ch;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    font-size: 20px;
    color: #323232;
}

#navigasjon_struktur {
    width: 100%;
    /* display: block;
    padding-left: 10%;
    padding-right: 10%;
    width: auto; */
}

th{
    border: 1px solid black;
    padding: 3px;
}

td{
    border: 1px solid black;
}

table{
    padding: 2px;
    border: 2px solid black;
}